{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}{% endblock %}

{% block content %}
<div class="row">
    <h1 class="fs-2">Обувь: {{brand_name|title}}</h1>
</div>
<hr>
<div class="container">
    <div class="row my-5">
        <div class="col-2">
            <form method="get">
                {% csrf_token %}
                {% bootstrap_form filter.form %}
                <button type="submit" class="btn btn-outline-danger px-4">Поиск</button>
            </form>
        </div>
        <div class="col mt-1">
            {% include 'includes/cards.html' with products=filter.qs %}
        </div>
    </div>
</div>
{% endblock %}



<!-- a href="{{product.get_absolute_url}}" -->
<!-- <img src="{{product.image.last.image.url}}" alt="Image" class="img-fluid"> -->
<!-- <h5 class="card-title">{{ product.price }}  &#8381;</h5>
<p class="card-text">{{ product.title }}</p> -->
